application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"><doc
        jersey:generatedBy="Jersey: 1.17 01/17/2013 03:31 PM"
        xmlns:jersey="http://jersey.java.net/"/><doc
        title="A message in the WADL"
            xml:lang="en"><![CDATA[This is added to the start of the generated application.wadl]]></doc><grammars><include
        href="xsd0.xsd"/></grammars><resources
            base="http://localhost:9080/rest"><resource
                path="/tasks"><resource path="/test"><method
                    id="getTest"
                            name="GET"><response><ns2:representation
                            element="task" mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                xmlns=""/></response></method></resource><resource
                    path="/add"><method id="postTask"
                            name="POST"><request><ns2:representation
                            element="task" mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                            xmlns=""/></request><response><ns2:representation
                            element="task" mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                xmlns=""/></response></method></resource><resource
                    path="/{id}"><param name="id" style="template"
                    type="xs:string"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/><method
                    id="getTask"
                            name="GET"><response><ns2:representation
                            element="task" mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02"
                xmlns=""/></response></method></resource><resource
                    path="/delete/{id}"><param name="id"
                    style="template" type="xs:string"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/><method
                    id="deleteTask" name="DELETE"/></resource><resource
                    path="/delete/all"><method id="deleteAllTasks"
                name="DELETE"/></resource><resource path="/all"><method
                    id="getAllTasks"
                            name="GET"><response><ns2:representation
                            element="task" mediaType="application/json"
                            xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns=""/></response></method></resource></resource></resources></application>
